<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!-- 测试数据-->
    <add key="KTest" value="0"/>

    <!-- 是否自动运行-->
    <add key="KAuto" value="0"/>

    <!--实时运行绩效考核系统情况-->
    <add key="KRun" value="1"/>
    <add key="RRun" value="1"/>

    <!--实时运行绩效运行周期，每分钟检测运行-->
    <!--值际竞赛运行周期(分钟倍数,不得小于5)-->
    <add key="RPeriod" value="10"/>

    <!--实时绩效：配置为事后管理界面配置-->
    <!--值际竞赛：开始和结束时间使用间隔（,;）,才能进行历史补算-->
    <add key="RHistory" value="2013-02-18 1:00:00;2013-02-20 9:00:00;"/>

    <!--实时库类型-->
    <add key="RealTime" value="pi"/>
    <!--PI数据库IP或机器名-->
    <add key="PIServer" value="10.2.66.7:8889"/>
    <!--登陆数据库用户名和密码-->
    <add key="PIConnectionString" value="UID=admin;PWD=admin888"/>

    <!--关系库类型-->
    <add key="Relation" value="sql"/>
    <!--关系库连接串 SISadmin2009, 123-->
    <add key="connectionString" value="Server=10.2.66.17;Database=SISKPI;Uid=sa;Pwd=SISadmin2009;"/>

    <!--ORACLE关系库连接串-->
    <!--<add key="Relation" value="ORACLE"/>
    <add key="connectionString" value="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=127.0.0.1)(PORT=1521))(CONNECT_DATA=(SID=orcl)));User Id=GHKPI;Password=SISadmin2009;"/>-->

    <!--关系库插入表, 程序中自带参数-->
    <add key="BulkTable" value="KPI_RealValue"/>

    <!--记录回写日志 1记录 0不记录-->
    <add key="WriteLog" value="0"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>

  </appSettings>

  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  
</configuration>
