<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!-- 是否测试数据-->
    <add key="RTest" value="0"/>
    
    <!-- 是否自动运行-->
    <add key="RAuto" value="1"/>

    <!-- 是否Excel数据-->
    <add key="RExcel" value="KPIExcel.xls; Sheet1;"/>
    
    <!-- 机组值际竞赛分析运行情况-->
    <add key="RRun" value="1"/>

    <!--机组际竞赛分析运行刻度-->
    <!--表示以0点0分为基准, 计算周期及偏置: 偏置不能大于等于周期。
        10,5表示每10分钟的第5分钟运行一次 -->
    <add key="RPeriod" value="10"/>
    <add key="ROffset" value="9"/>
    <add key="RSecond" value="0"/>
    
    <!--需要补算的机组及指标，不区分大小写
        ""空, 表示所有机组或相应机组的所有指标
        使用间隔（,;）表示多个机组或多个指标-->
    <add key="RUnit" value=""/>
    <add key="RKPI" value=""/>
    
    <!--开始和结束时间使用间隔（,;）,才能进行历史补算-->
    <add key="RHistory" value="2013-02-25 10:10:00;2013-03-07 23:55:00;"/>
    
    <!--实时库类型-->
    <add key="RealTime" value="PI"/>
    <!--PI数据库IP或机器名-->
    <add key="PIServer" value="10.1.106.205"/>
    <!--登陆数据库用户名和密码-->
    <add key="PIConnectionString" value="UID=pidemo;PWD="/>
    
    <!--SQL关系库类型:SQL or ORACLE-->
    <add key="Relation" value="SQL"/>
    <add key="connectionString" value="Server=10.1.209.45;Database=GHKPI;Uid=siskpi;Pwd=SISadmin2009;"/>
    
    <!--ORACLE关系库连接串-->    
    <!--<add key="Relation" value="ORACLE"/>
    <add key="connectionString" value="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=127.0.0.1)(PORT=1521))(CONNECT_DATA=(SID=orcl)));User Id=GHKPI;Password=SISadmin2009;"/>-->
    
    <!--关系库插入表-->
    <add key="BulkTable" value="KPI_RaceValue"/>
    
    <!--记录回写日志 1记录 0不记录-->
    <add key="WriteLog" value="0"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
  <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
</configuration>
