BODY
{
	margin: 0px 0px 0px 10px;
}
.ThemeXPTreeLevel0
{
	border-right: 0px;
	padding-right: 0px;
	border-top: 0px;
	padding-left: 0px;
	padding-bottom: 0px;
	border-left: 0px;
	cursor: default;
	padding-top: 0px;
	border-bottom: 0px;
	white-space: nowrap;
	background-color: white;
}
.ThemeXPTreeLevel1
{
	border-right: 0px;
	padding-right: 0px;
	border-top: 0px;
	padding-left: 0px;
	padding-bottom: 0px;
	border-left: 0px;
	cursor: default;
	padding-top: 0px;
	border-bottom: 0px;
	white-space: nowrap;
	background-color: white;
}
.ThemeXPTreeLevel1
{
	display: none;
}
.ThemeXPTable
{
	border-right: 0px;
	padding-right: 0px;
	border-top: 0px;
	padding-left: 0px;
	font-size: 12px;
	padding-bottom: 0px;
	border-left: 0px;
	cursor: default;
	padding-top: 0px;
	border-bottom: 0px;
	font-family: Verdana, Arial, sans-serif;
	white-space: nowrap;
	border-collapse: separate;
}
.ThemeXPRow
{
	border-right: 0px;
	padding-right: 0px;
	border-top: 0px;
	padding-left: 0px;
	padding-bottom: 0px;
	border-left: 0px;
	padding-top: 0px;
	border-bottom: 0px;
	white-space: nowrap;
}
.ThemeXPRowHover
{
	border-right: 0px;
	padding-right: 0px;
	border-top: 0px;
	padding-left: 0px;
	padding-bottom: 0px;
	border-left: 0px;
	padding-top: 0px;
	border-bottom: 0px;
	white-space: nowrap;
}
.ThemeXPRowActive
{
	border-right: 0px;
	padding-right: 0px;
	border-top: 0px;
	padding-left: 0px;
	padding-bottom: 0px;
	border-left: 0px;
	padding-top: 0px;
	border-bottom: 0px;
	white-space: nowrap;
}
.ThemeXPRowSelected
{
	border-right: 0px;
	padding-right: 0px;
	border-top: 0px;
	padding-left: 0px;
	padding-bottom: 0px;
	border-left: 0px;
	padding-top: 0px;
	border-bottom: 0px;
	white-space: nowrap;
}
.ThemeXPFolderSpacer
{
	border-right: 0px;
	padding-right: 0px;
	border-top: 0px;
	padding-left: 0px;
	padding-bottom: 0px;
	border-left: 0px;
	padding-top: 0px;
	border-bottom: 0px;
	white-space: nowrap;
}
.ThemeXPItemSpacer
{
	border-right: 0px;
	padding-right: 0px;
	border-top: 0px;
	padding-left: 0px;
	padding-bottom: 0px;
	border-left: 0px;
	padding-top: 0px;
	border-bottom: 0px;
	white-space: nowrap;
}
.ThemeXPFolderLeft
{
	border-right: 0px;
	padding-right: 0px;
	border-top: 0px;
	padding-left: 0px;
	padding-bottom: 0px;
	border-left: 0px;
	padding-top: 0px;
	border-bottom: 0px;
	white-space: nowrap;
}
.ThemeXPItemLeft
{
	border-right: 0px;
	padding-right: 0px;
	border-top: 0px;
	padding-left: 0px;
	padding-bottom: 0px;
	border-left: 0px;
	padding-top: 0px;
	border-bottom: 0px;
	white-space: nowrap;
}
.ThemeXPFolderText
{
	border-right: 0px;
	padding-right: 0px;
	border-top: 0px;
	padding-left: 0px;
	padding-bottom: 0px;
	border-left: 0px;
	padding-top: 0px;
	border-bottom: 0px;
	white-space: nowrap;
}
.ThemeXPItemText
{
	border-right: 0px;
	padding-right: 0px;
	border-top: 0px;
	padding-left: 0px;
	padding-bottom: 0px;
	border-left: 0px;
	padding-top: 0px;
	border-bottom: 0px;
	white-space: nowrap;
}
.ThemeXPFolderRight
{
	border-right: 0px;
	padding-right: 0px;
	border-top: 0px;
	padding-left: 0px;
	padding-bottom: 0px;
	border-left: 0px;
	padding-top: 0px;
	border-bottom: 0px;
	white-space: nowrap;
}
.ThemeXPItemRight
{
	border-right: 0px;
	padding-right: 0px;
	border-top: 0px;
	padding-left: 0px;
	padding-bottom: 0px;
	border-left: 0px;
	padding-top: 0px;
	border-bottom: 0px;
	white-space: nowrap;
}
.ThemeXPFolderText A
{
	border-right: 0px;
	padding-right: 1px;
	border-top: 0px;
	padding-left: 1px;
	padding-bottom: 1px;
	border-left: 0px;
	color: #1161a8;
	padding-top: 1px;
	border-bottom: 0px;
	text-decoration: none;
}
.ThemeXPItemText A
{
	border-right: 0px;
	padding-right: 1px;
	border-top: 0px;
	padding-left: 1px;
	padding-bottom: 1px;
	border-left: 0px;
	color: #1161a8;
	padding-top: 1px;
	border-bottom: 0px;
	text-decoration: none;
}
.ThemeXPRowHover .ThemeXPItemText A
{
	color: #ff0000;
	text-decoration: none;
}
.ThemeXPRowHover .ThemeXPFolderText A
{
	color: #ff0000;
	text-decoration: none;
}
.ThemeXPRowActive .ThemeXPItemText A
{
	color: white;
	background-color: #3169c6;
	text-decoration: none;
}
.ThemeXPRowActive .ThemeXPFolderText A
{
	color: white;
	background-color: #3169c6;
	text-decoration: none;
}
.ThemeXPRowSelected .ThemeXPItemText A
{
	color: white;
	background-color: #3169c6;
	text-decoration: none;
}
.ThemeXPRowSelected .ThemeXPFolderText A
{
	color: white;
	background-color: #3169c6;
	text-decoration: none;
}
.ThemeXPFolderSpacer IMG
{
	vertical-align: bottom;
}
.ThemeXPItemSpacer IMG
{
	vertical-align: bottom;
}
.ThemeXPFolderLeft IMG
{
	vertical-align: bottom;
}
.ThemeXPItemLeft IMG
{
	vertical-align: bottom;
}
.ThemeXPFolderRight IMG
{
	vertical-align: bottom;
}
.ThemeXPItemRight IMG
{
	vertical-align: bottom;
}
.JSCookTreeFolderClosed
{
}
.JSCookTreeFolderOpen
{
}
#JSCookTreeFolderClosed .JSCookTreeFolderOpen
{
	display: none;
}
#JSCookTreeFolderOpen .JSCookTreeFolderClosed
{
	display: none;
}
