body{font-size:12px;line-height:100%;margin:0px;padding:5px;}
table{border-spacing:0px;width:100%;padding:0px;}
td{background:url(images/body_bg.png) repeat-x;padding:0px}
a img{border:none}
a{text-decoration:none;}